In [1]:
#Defining list in python

#List of strings
list1=['Rahul','Vaibhav','John','Rishabh']
#List of numbers
list2=[1,2,3,4,5,15,25,100]
#Mixed data list
list3=['Ravi',90,102,93,29,'B',False,5.786]
#Nested list
list4=[[1,2,3],[3,4,5,6],[2,1]]

In [6]:
#Accessing list item in python
list1=[2,4,6,'A',10,'B',16,'C',20]
print('List1=',list1)
#First item
print('List1[0]=',list1[0])
#Last item
print('List1[-1]=',list1[-1])
#Last third item
print('List1[-3]=',list1[-3])

List1= [2, 4, 6, 'A', 10, 'B', 16, 'C', 20]
List1[0]= 2
List1[-1]= 20
List1[-3]= 16

In [9]:
#Getting a list slice
l=[10,20,30,40,50,60,70,80,90,100]
slice1=l[3:8]
slice2=l[3:-2]
print(slice1)
print(slice2)

[40, 50, 60, 70, 80]
[40, 50, 60, 70, 80]

In [81]:
books=['Legion','Stealheart','The Final Empire','The Originals','Harry Potter','The Vampire Diaries','A song of ice and fire']

In [11]:
books[:3] #First 3 books

['Legion', 'Stealheart', 'The Final Empire']

In [12]:
books[-3:] #last 3 books

['Harry Potter', 'The Vampire Diaries', 'A song of ice and fire']

In [15]:
books[3:-3] #All except first 3 and last 3 books

['The Originals']

In [2]:
#Append function
fruits=[]
fruits.append('apple')
fruits.append('banana')
fruits.append('cherry')
fruits.append('guava')

In [17]:
print(fruits)

['apple', 'banana', 'cherry', 'guava']

In [19]:
#insert function
fru=['apple','banana','cherry']
fru.insert(1,'orange')
fru.insert(-1,'mango')
print(fru)

['apple', 'orange', 'banana', 'mango', 'cherry']

In [30]:
#Extend function
dry_fruits=['Almond','Cashew','walnut']
fruits.extend(dry_fruits)
print(fruits)

['apple', 'banana', 'cherry', 'guava', 'Almond', 'Cashew', 'walnut']

In [28]:
fruit=['apple', 'guava']
fruit.extend(dry_fruits)
print(fruit)

['apple', 'guava', 'Almond', 'Cashew', 'walnut']

In [31]:
#Sort function
fruits.sort()
print(fruits)

['Almond', 'Cashew', 'apple', 'banana', 'cherry', 'guava', 'walnut']

In [47]:
x=[1,9,8,7,5,4,3,2]
x.sort()
print(x)

[1, 2, 3, 4, 5, 7, 8, 9]

In [37]:
#Reverse function
fruits.sort(reverse=True)
print(fruits)

['walnut', 'guava', 'cherry', 'banana', 'apple', 'Cashew', 'Almond']

In [48]:
#Remove function
x.remove(1)
print(x)
if 99 in x:
    x.remove(99)
print(x)

[2, 3, 4, 5, 7, 8, 9]
[2, 3, 4, 5, 7, 8, 9]

In [66]:
books.reverse()
print(books)

['A song of ice and fire', 'The Vampire Diaries', 'Harry Potter', 'The Originals', 'The Final Empire', 'Stealheart', 'Legion']

In [76]:
books[::-1]
print(books)

['A song of ice and fire', 'The Vampire Diaries', 'Harry Potter', 'The Originals', 'The Final Empire', 'Stealheart', 'Legion']

In [77]:
#Count function
y=[1,2,1,1,4,6]
y.count(1)

3

In [79]:
#index function
movies=['Top Gun','End game','Venom','Anaconda','Infinity war','Thor']
movies.index('Thor')

5

In [83]:
vindex=books.index('The Vampire Diaries')
print(vindex)
books[vindex:]

5

['The Vampire Diaries', 'A song of ice and fire']

In [4]:
#Pop function
#by list.pop() method
v=fruits.pop()
print(v)

#by list.pop(idx) method
vv=fruits.pop(1)
print(vv)

cherry
banana

- Wap to create a list of 5 values given by the user

In [6]:
ex=[]
for i in range(5):
    val=input(f'enter value(i+1):')
    ex.append(val)
print(ex)

['apple', 'banana', 'water melon', 'guava', 'mango']

- Wap to display sum of the list

In [8]:
data=[23,54,67,31,67]
total=0
for i in data:
    total+=i
print(total)

242

In [3]:
from statistics import median
x=[2,4,6,7,3,2,4]
#mean
mean=sum(x)/len(x)
print(mean)
#median
x.sort()
if len(x) %2==0:
    median=(x[len(x)//2]+x[len(x)//2 -1])/2
else:
    median=x[len(x)//2]
print(median)
#min
print(min(x))
#max
print(max(x))

4.0
4
2
7

In [1]:
a1=[1,2,3]
b1=[3,2,1]
n1=[]
for i in range(3):
    n1.append(a1[i]+b1[i])
print(n1)

[4, 4, 4]

In [3]:
#add 2 lists together element wise and produce a new list
a=[1,2,3]
b=[3,2,1]
n1=[]
for i,j in zip(a,b):
    n1.append(i+j)
print(n1)

[4, 4, 4]

In [4]:
#create a list where every element is a square of elements from an existing list
l1=[2,4,6,8]
sq=[]
for i in range(4):
    sq.append(l1[i]**2)
print(sq)

[4, 16, 36, 64]

In [42]:
#create a list where every odd element is a square of elements from an existing list
l1=[2,4,6,8,3]
sq=[]
for i in l1:
   if i%2!=0:
       sq.append(i**2)
print(sq)

#Another method using list comprehension
#sq=[i**2 for i in l1 if i%2==1]
#print(sq)

[9]

In [13]:
#create abbreviation list from an existing list of words
words=['United State','Project Manager','Software Engineer','Data Analyst','Senior Software Engineer','Senior Data Analyst','Data Scientist','Data Engineer']
abbrs=[]
for names in words:
    ans=''
    for word in names.split():
        ans+=word[0]
    abbrs.append(ans)
print(abbrs)

['US', 'PM', 'SE', 'DA', 'SSE', 'SDA', 'DS', 'DE']

In [14]:
l=input("Enter the items")

In [26]:
#take a list from user in one line of input and then
#remove all the non numeric values from the list
#and then display the cubes of numbers from that list
entries=input("Enter data separated with space:")
print(entries)
numeric_entries=[]
for value in entries.split():
    if value.isnumeric():
        numeric_entries.append(int(value))
print(numeric_entries)
cubes=[]
for i in numeric_entries:
    cubes.append(i**3)
print(cubes)

2 4 7 rahbar
[2, 4, 7]
[8, 64, 343]

List Comprehension
- is a way to create a list from an existing list using one line of expression

In [27]:
c=[i**3 for i in numeric_entries]
print(c)

[8, 64, 343]