# Tuple

In [1]:
a=(1,2,3,4)
print(a)
print(type(a))

(1, 2, 3, 4)
<class 'tuple'>

In [2]:
b=1,3,5,7
print(b)
print(type(a))

(1, 3, 5, 7)
<class 'tuple'>

In [3]:
for val in a:
    print(val)

1
2
3
4

In [4]:
#Concatenation
#Output: (1,2,3,4,5,6)
print((1,2,3)+(4,5,6))

(1, 2, 3, 4, 5, 6)

In [5]:
#Repeat
#Output: ('Repeat','Repeat','Repeat')
print(('Repeat',)*3)

('Repeat', 'Repeat', 'Repeat')

In [7]:
my_tuple=('a','p','p','l','e')
print(my_tuple.count('p')) #Output: 2
print(my_tuple.index('l')) #Output: 3

2
3

In [11]:
a_list=list(a)#Tuple converted to list
print(a_list)

[1, 2, 3, 4]

In [10]:
val=[2,3,567,86]
print(val)
val_tuple=tuple(val)#list converted to tuple
print(val_tuple)

[2, 3, 567, 86]
(2, 3, 567, 86)

# Set

In [12]:
s1={1,2,3,4,5,6,7,8,9,10,1,1} 
print(s1)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [13]:
#we can make set from a list
#Output: {1,2,3}
my_set=set([1,2,3,2])
print(my_set)

{1, 2, 3}

In [14]:
#initialize a with set()
a=set()
#check data type of a
print(type(a))

<class 'set'>

In [15]:
#add an element
#Output:{1,2,3}
my_set.add(2)
print(my_set)

{1, 2, 3}

In [16]:
#add multiple elements
#Output:{1,2,3,4}
my_set.update([2,3,4])
print(my_set)

{1, 2, 3, 4}

In [17]:
#add list and set
#Output:{1,2,3,4,5,6,8}
my_set.update([4,5],{1,6,8})
print(my_set)

{1, 2, 3, 4, 5, 6, 8}

Removing items from the set

In [25]:
#Initialize my_set
my_set={1,3,4,5,6}
print(my_set)

{1, 3, 4, 5, 6}

In [26]:
#discard an element
my_set.discard(4)
print(my_set)

{1, 3, 5, 6}

In [27]:
#remove an element
my_set.remove(6)
print(my_set)

{1, 3, 5}

In [28]:
#pops a random item
my_set.pop()
print(my_set)

{3, 5}

In [29]:
#clear my_set
my_set.clear()
print(my_set)

set()

Set Operations

In [30]:
A={1,2,3,4,5}
B={4,5,6,7,8}

In [31]:
#for set union
#use | operator
print(A|B)

{1, 2, 3, 4, 5, 6, 7, 8}

In [32]:
#use union function
A.union(B)

{1, 2, 3, 4, 5, 6, 7, 8}

In [33]:
#use union function on B
B.union(A)

{1, 2, 3, 4, 5, 6, 7, 8}

In [34]:
#for set intersection
#use & operator
print(A&B)

{4, 5}

In [35]:
#use intersection function
A.intersection(B)

{4, 5}

In [36]:
#Set difference
#use - operator on A 
print(A-B)

{1, 2, 3}

In [38]:
#use difference function on A
A.difference(B)

{1, 2, 3}

In [37]:
#for set symmetric difference
#use ^ operator
print(A^B)

{1, 2, 3, 6, 7, 8}

In [39]:
#use symmetric_differnce function on A
A.symmetric_difference(B)

{1, 2, 3, 6, 7, 8}

In [41]:
#Create 2 sets of electric devices and perform set operations on them
s1={'Fan','AC','Fridge','Oven','TV'}
s2={'Mixer','Iron','Juicer','Oven','TV'}
print(s1|s2) #union
print(s1&s2)#intersection
print(s1-s2)#set difference
print(s1^s2)#set symmetric difference

{'TV', 'Fan', 'Iron', 'Oven', 'Juicer', 'Fridge', 'AC', 'Mixer'}
{'Oven', 'TV'}
{'AC', 'Fan', 'Fridge'}
{'Fan', 'Fridge', 'Iron', 'AC', 'Mixer', 'Juicer'}

# Dictionary

In [49]:
my_dict={'name': 'Jack','age':26}
print(my_dict)
print(my_dict['name'])
print(my_dict.get('age'))

{'name': 'Jack', 'age': 26}
Jack
26

In [52]:
#update value
my_dict['age']=27
print(my_dict['age'])

27

In [53]:
#add item
my_dict['address']='Downtown'
print(my_dict)

{'name': 'Jack', 'age': 27, 'address': 'Downtown'}

In [54]:
#Removing elements from dictionary
#create a dictionary
squares={1:1,2:4,3:9,4:16,5:25}
#remove a particular item and return its value
#Output: 16
print(squares.pop(4))

16

In [61]:
report={
    'student 1':{
        'name':'John',
        'marks':{
            'maths':80,
            'science':90,
            'history':70,
            'english':60,
            'evs':90
        }
    },
    'student 2':{
        'name':'Mary',
        'marks':{
            'maths':70,
            'science':80,
            'history':60,
            'english':50,
            'evs':90
            }
    }
}
print(report)

{'student 1': {'name': 'John', 'marks': {'maths': 80, 'science': 90, 'history': 70, 'english': 60, 'evs': 90}}, 'student 2': {'name': 'Mary', 'marks': {'maths': 70, 'science': 80, 'history': 60, 'english': 50, 'evs': 90}}}

In [65]:
print(report['student 1']['name'])
print(report['student 2']['marks'])

John
{'maths': 70, 'science': 80, 'history': 60, 'english': 50, 'evs': 90}

In [66]:
#nested loop for dictionary
for k,v in report.items():
    print('students:',k)
    if isinstance(v,dict):
        for k1,v1 in v.items():
            if isinstance(v1,dict):
                for sub,marks in v1.items():
                    print(sub,marks)
            else:
                print(v1)
    else:
        print(v)

students: student 1
John
maths 80
science 90
history 70
english 60
evs 90
students: student 2
Mary
maths 70
science 80
history 60
english 50
evs 90

In [2]:
list.append?

Signature: list.append(self, object, /)
Docstring: Append object to the end of the list.
Type:      method_descriptor